#layout-sidenav a:hover{
	background: #ff4e00;
	color: rgb(255, 255, 255);
}	
#layout-sidenav ul li{
	list-style-type: none;
	display: inline-block; 
	
}
#layout-sidenav ul li:hover ul{
	display: block;
	background:#f8f8f8;
}

#layout-sidenav ul li li {

	width: 250px;
}
.size{
	font-size: large;
}
