<!-- [ Layout sidenav ] Start -->
<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-white logo-dark">
  <!-- Brand demo (see assets/css/demo/demo.css) -->
  <div class="app-brand demo">
                    <span class="app-brand-logo demo">
                        <img src="assets/img/logo.png" alt="Brand Logo" class="img-fluid">
                    </span>
    <a href="home/accueil" class="app-brand-text demo sidenav-text font-weight-normal ml-2">E-Parking</a>
    <a href="javascript:" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
      <i class="ion ion-md-menu align-middle"></i>
    </a>
  </div>
  <div class="sidenav-divider mt-0"></div>

  <!-- Links -->
  <ul class="sidenav-inner py-1">

    <!-- Dashboards -->
    <li class="sidenav-item active">
      <a href="javascript:" class="sidenav-link">
        <i class="sidenav-icon feather icon-home"></i>
        <div>Tableau de bord</div>
      </a>
    </li>
  </ul>
</div>
<!-- [ Layout sidenav ] End -->
