 <!-- [ Layout sidenav ] Start -->

  <div class="sidenav bg-primary">
    <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-white logo-dark" style="min-height: 150vh; width: auto;">
      <div class="sidenav-divider mt-0"></div>

      <!-- Links -->
      <ul class="sidenav-inner py-1">

          <!-- Dashboards -->
          <li class="sidenav-item ">
              <a href="javascript:" [routerLink]="['/home/accueil']" class="sidenav-link">
                <i class="sidenav-icon feather icon-home "></i>
                <div class="size">Tableau de bord</div>
              </a>
            </li>
            <li class="sidenav-item">
              <a [routerLink]="['/home/gestionVehicules']" class="sidenav-link ">
                  <i class="sidenav-icon feather icon-book"></i>
                  <div class="size">Gestion Vehicules</div>
              </a>
            </li>
            <li class="sidenav-item">
              <a [routerLink]="['/home/ticketList']" class="sidenav-link">
                <i class="sidenav-icon feather icon-shield"></i>
                <div class="size">Tickets</div>
              </a>
            </li>
            <li class="sidenav-item">
              <a [routerLink]="['/home/gestionClients']" class="sidenav-link">
                <i class="sidenav-icon feather icon-users"></i>
                <div class="size"> Gestion clients</div>
              </a>
            </li>
            <li class="sidenav-item">
              <a [routerLink]="['/home/statistiques']" class="sidenav-link">
                <i class='sidenav-icon fas fa-chart-bar fa-lg'></i>
                <div class="size"> Statistiques</div>
              </a>
            </li>
            <li class="sidenav-item">
              <a [routerLink]="['/home/comptabilite']" class="sidenav-link">
                <i class='sidenav-icon fas fa-landmark'></i>
                <div class="size"> Charges</div>
              </a>
            </li>
            <li class="sidenav-item">
              <a href="javascript:" class="sidenav-link sidenav-toggle">
                  <i class="sidenav-icon feather icon-settings"></i>
                  <div class="size"> Paramètre</div>
              </a>
              <ul class="sidenav-menu">
                  <li class="sidenav-item "><a [routerLink]="['/home/utilisateur']" class="sidenav-link">
                          <div class="size"> Utilisateur</div>
                      </a></li>
                  <li class="sidenav-item"><a [routerLink]="['/home/role']" class="sidenav-link">
                          <div class="size"> Role</div>
                      </a></li>
                  <li class="sidenav-item"><a [routerLink]="['/home/Configuration']" class="sidenav-link">
                          <div class="size"> Configuration</div>
                      </a></li>
              </ul>
            </li>
          </ul>
      </div>
</div>

<!-- [ Layout sidenav ] End -->