<div class="col-sm-12">
    <div class="card mb-4">
        <div class="card-header with-elements">
            <h6 class="card-header-title mb-0">Tickets détails</h6>
            <div class="card-header-elements ml-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:" class="dropdown-item"><i class="feather icon-maximize text-muted"></i> &nbsp; Full Screen</a>
                        <a href="javascript:" class="dropdown-item"><i class="feather icon-refresh-cw text-muted"></i> &nbsp; Reload</a>
                        <a href="javascript:" class="dropdown-item"><i class="feather icon-trash text-muted"></i> &nbsp; Remove</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-de mb-0">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type de tickets</th>
                        <th>Montants dépensés</th>
                        <th>Cancel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2018-01-31 06:51:51</td>
                        <td class="success">Révision à 50000</td>
                        <td>50000</td>
                        <td>
                            <button class="btn btn-sm round btn-outline-danger"> Cancel</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2018-01-31 06:50:50</td>
                        <td class="danger">Entretiens</td>
                        <td>7000</td>
                        <td>
                            <button class="btn btn-sm round btn-outline-danger"> Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
