<!-- [ Content ] Start -->
<div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4" style="background-image: url('assets/img/bg/sonatel.jpg');">
  <div class="ui-bg-overlay bg-dark opacity-25"></div>

  <div class="authentication-inner py-5">

      <div class="card">
          <div class="p-4 p-sm-5">
              <!-- [ Logo ] Start -->
              <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
                  <div class="ui-w-60">
                      <div class="w-100 position-relative">
                          <img src="assets/img/logo-dark.png" alt="Brand Logo" class="img-fluid">
                          <div class="clearfix"></div>
                      </div>
                  </div>
              </div>
              <!-- [ Logo ] End -->

              <h5 class="text-center text-muted font-weight-normal mb-4">E-parking</h5>

              <!-- Form -->
              <form>
                  <div class="form-group">
                      <label class="form-label">Email</label>
                      <input type="text" class="form-control">
                      <div class="clearfix"></div>
                  </div>
                  <div class="form-group">
                      <label class="form-label d-flex justify-content-between align-items-end">
                          <span>Mot de passe</span>
                          <a href="auth/pageMotDePasseOublier" class="d-block small">Mot de passe oublié?</a>
                      </label>
                      <input type="password" class="form-control">
                      <div class="clearfix"></div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center m-0">
                      <label class="custom-control custom-checkbox m-0">
                          <input type="checkbox" class="custom-control-input">
                          <span class="custom-control-label">Remember me</span>
                      </label>
                      <button type="button" class="btn btn-primary">Se connecter</button>
                  </div>
              </form>
              <!-- [ Form ] End -->

          </div>
          <div class="card-footer py-3 px-4 px-sm-5">
              <div class="text-center text-muted">
                  Vous n'avez pas de compte?
                  <a href="auth/pageInscription">S'inscrire</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- / Content -->