<!-- [ content ] Start -->
<div class="authentication-wrapper authentication-3">
    <div class="authentication-inner">

        <!-- [ Side container ] Start -->
        <!-- Do not display the container on extra small, small and medium screens -->
        <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover ui-bg-overlay-container p-5" style="background-image: url('assets/img/bg/sonatel.jpg');">
            <div class="ui-bg-overlay bg-dark opacity-50"></div>
            <!-- [ Text ] Start -->
            <div class="w-100 text-white px-5">
                <h1 class="display-2 font-weight-bolder mb-4"> <br></h1>
                <div class="text-large font-weight-light">
                </div>
            </div>
            <!-- [ Text ] End -->
        </div>
        <!-- [ Side container ] End -->

        <!-- [ Form container ] Start -->
        <div class="d-flex col-lg-4 align-items-center bg-white p-5">
            <!-- Inner container -->
            <!-- Have to add `.d-flex` to control width via `.col-*` classes -->
            <div class="d-flex col-sm-7 col-md-5 col-lg-12 px-0 px-xl-4 mx-auto">
                <div class="w-100">

                    <!-- [ Logo ] Start -->
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="ui-w-60">
                            <div class="w-100 position-relative">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Logo ] End -->

                    <h4 class="text-center text-lighter font-weight-normal mt-5 mb-0">Connectez-vous à votre compte</h4>

                    <!-- [ Form ] Start -->
                    <form class="my-5" [formGroup]="connectForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" formControlName="username" id="username"  placeholder="Enter username">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="form-label d-flex justify-content-between align-items-end">
                                <span>Mot de passe</span>
                                <a [routerLink]="['/auth/pageMotDePasseOublier']" class="d-block small">Mot de passe oublié?</a>
                            </label>
                            <input type="password" formControlName="password" class="form-control" id="inputPassword3" placeholder="Password">
                            <div class="clearfix"></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center m-0">
                            <button type="submit" class="btn btn-primary">Se connecter</button>
                        </div>
                    </form>
                    <!-- [ Form ] End -->

                </div>
            </div>
        </div>
        <!-- [ Form container ] End -->

    </div>
</div>
<!-- [ content ] End -->
