

                        <h4 class="font-weight-bold py-3 mb-0">Lister ticket</h4>
                        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item">Tickets</li>
                                <li class="breadcrumb-item active">Lister ticket</li>
                            </ol>
                        </div>
                       
                        <div class="card">
                            <div class="card-body">
                                <div class="col-sm-7 offset-5">
                                    <button type="button"
                                            class="btn btn-lg btn-primary"
                                            style="float:right;"
                                            [routerLink]="['/home/ticketEdit']"
                                    >
                                      <i class="feather icon-plus"></i>Editer ticket</button>
                                  </div>
                                <div class="table-responsive">
                                    <table id="tickets-list" class="table table-striped table-bordered">
                            
                                        <thead>
                                            <tr>
                                                <th>Ticket ID</th>
                                                <th>Motif de la demande</th>
                                                <th>Date d'immobilisation</th>
                                                <th>Nature prestation</th>
                                                <th>Cout prestation</th>
                                                <th>Nom fournisseur</th>
                                                <th>Date notification au fournisseur</th>
                                                <th>Numéro DA</th>
                                                <th>Numéro bon de commande</th>
                                                <th>Date fin travaux</th>
                                                <th>Date de livraison</th>
                                                <th>Priorité</th>
                                                <th>Statut</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dossiertravail of alltickets">
                                                <td class="align-middle">
                                                    1
                                                </td>
                                                <td class="align-middle">
                                                    {{dossiertravail.motifDemande}}
                                                </td>
                                                <td class="align-middle">
                                                    {{dossiertravail.dateImmobilisation}}
                                                </td>
                                                <td class="align-middle">
                                                    {{dossiertravail.naturePrestation}}
                                                </td>
                                                <td class="align-middle">
                                                    {{dossiertravail.coutPrestation}}
                                                </td>
                                                <td class="align-middle">
                                                    {{dossiertravail.nomFournisseur}}
                                                </td>
                                                <td class="align-middle">
                                                    {{dossiertravail.dateNotificationFournisseur}}
                                                </td>
                                                <td class="align-middle">
                                                    {{dossiertravail.numeroDA}}
                                                </td>
                                                <td class="align-middle">
                                                    {{dossiertravail.numeroBonCommande}}
                                                </td>
                                                <td class="align-middle">
                                                    {{dossiertravail.dateFinTravaux}}
                                                </td>
                                                <td class="align-middle">
                                                    {{dossiertravail.dateLivraison}}
                                                </td>
                                                <td class="align-middle">
                                                    Any
                                                </td>
                                                <td class="align-middle">
                                                    In progress
                                                </td>
                                                <td class="table-action">
                                                    <a href="#" class="btn btn-icon btn-outline-success"><i class="feather icon-edit"></i></a>
                                                    <a href="#" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2 "></i></a>
                                                </td>
                                    </table>
                                </div>
                            </div>
                        </div>

