<div class="col-xl-7">
    <div class="card mb-4">
        <div class="card-header with-elements pb-0">
            <h6 class="card-header-title mb-0">Attribution details</h6>
            <div class="card-header-elements ml-auto p-0">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#sale-stats">Historiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#latest-sales">Détails</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-tabs-top">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="sale-stats">
                    <div style="height: 330px" id="tab-table-1">
                        <table class="table table-hover card-table">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="custom-control custom-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"><strong>Mois</strong></span>
                                        </label>
                                    </th>
                                    <th>Client</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="custom-control custom-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"><strong>12</strong><br><span>mois</span></span>
                                        </label>
                                    </td>
                                    <td>
                                        <div class="media mb-0">
                                            <img src="" class="d-block ui-w-40 rounded-circle" alt="">
                                            <div class="media-body align-self-center ml-3">
                                                <h6 class="mb-0">Mr. XXX</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-inline-block align-middle">
                                            <h6 class="mb-1">[DK 0989 BK] VSC en bon état</h6>
                                            <p class="text-muted mb-0">Tout ok...</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="custom-control custom-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"><strong>16</strong><br><span>mois</span></span>
                                        </label>
                                    </td>
                                    <td>
                                        <div class="media mb-0">
                                            <img src="" class="d-block ui-w-40 rounded-circle" alt="">
                                            <div class="media-body align-self-center ml-3">
                                                <h6 class="mb-0">Mr. XXX</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-inline-block align-middle">
                                            <h6 class="mb-1">[DK 0109 AC] FORD </h6>
                                            <p class="text-muted mb-0">Tout ok...</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="javascript:" class="card-footer d-block text-center text-dark small font-weight-semibold">SHOW MORE</a>
                </div>
                <div class="tab-pane fade" id="latest-sales">
                    <div style="height: 330px" id="tab-table-2">
                        <table class="table table-hover card-table">
                            <thead>
                                <tr>
                                    <th>Véhicule</th>
                                    <th>Nombres</th>
                                    <th>Cout d'achat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <a href="javascript:" class="text-dark">DK 0989 BK Ford</a>
                                    </td>
                                    <td class="align-middle">1</td>
                                    <td class="align-middle">31000000000</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <a href="javascript:" class="text-dark">DK 0109 AC Toyota</a>
                                    </td>
                                    <td class="align-middle">2</td>
                                    <td class="align-middle">4000000000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="javascript:" class="card-footer d-block text-center text-dark small font-weight-semibold">SHOW MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>
