<h4 class="font-weight-bold py-3 mb-0 display-3">Tableau de bord</h4>
<div class="text-muted small mt-0 mb-4 d-block breadcrumb">
    <ol class="breadcrumb display-5">
        <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/home/acceuil']">tableau de bord</a></li>
        <li class="breadcrumb-item active">Accueil</li>
    </ol>
</div>
<div class="row">
    <!-- Staustic card 9 Start -->
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4">
            <div class="progress bg-white">
                <div class="progress-bar bg-primary" style="width:56%"></div>
            </div>
            <div class="card-body">
                <h5>Vehicules VEX</h5>
                <div class="text-center">
                    <span class="d-block text-primary display-3">56</span>
                    <p class="mb-0">Total</p>
                </div>
            </div>
            <div class="card-footer bg-primary bg-pattern-2">
                <h6 class="text-white mb-0">Attribués: 22 Disponibles: 22</h6>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4">
            <div class="progress bg-white">
                <div class="progress-bar bg-success" style="width:14%"></div>
            </div>
            <div class="card-body">
                <h5>Vehicules VSC</h5>
                <div class="text-center">
                    <span class="d-block text-success display-3">14</span>
                    <p class="mb-0">Total</p>
                </div>
            </div>
            <div class="card-footer bg-success bg-pattern-2">
                <h6 class="text-white mb-0">Attribués: 22 Disponibles: 22</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4">
            <div class="progress bg-white">
                <div class="progress-bar bg-danger" style="width:85%"></div>
            </div>
            <div class="card-body">
                <h5>Demande de travail</h5>
                <div class="text-center">
                    <span class="d-block text-danger display-3">85</span>
                    <p class="mb-0">Total</p>
                </div>
            </div>
            <div class="card-footer bg-danger  bg-pattern-2">
                <h6 class="text-white mb-0">Traitées: 85</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4">
            <div class="progress bg-white">
                <div class="progress-bar bg-warning" style="width:42%"></div>
            </div>
            <div class="card-body">
                <h5>Demande de travail en cours</h5>
                <div class="text-center">
                    <span class="d-block text-warning display-3">42</span>
                    <p class="mb-0">Total</p>
                </div>
            </div>
            <div class="card-footer bg-warning  bg-pattern-2">
                <h6 class="text-white mb-0">En cours: 42</h6>
            </div>
        </div>
    </div>
    <!-- Staustic card 9 end -->

    <!-- [ Staustic widgets ] End -->
</div>

<!-- [ content ] End -->
   
<h6 >Statistiques : En cours.....</h6>