

<!-- [ content ] Start -->
    <div class="authentication-wrapper authentication-2 px-4" style="background-image: url('assets/img/bg/sonatel.jpg')">
        <div class="authentication-inner py-5">
        
        
            <!-- [ Form ] Start -->
            <form class="card">
                <div class="p-4 p-sm-5">
                    <!-- [ Logo ] Start -->
                    <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
                        <div class="ui-w-60">
                            <div class="w-100 position-relative">
                                <img src="assets/img/logo-dark.png" alt="Brand Logo" class="img-fluid">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Logo ] End -->
                    <h5 class="text-center text-muted font-weight-normal mb-4">Réinitialisez votre mot de passe</h5>
                    <hr class="mt-0 mb-4">
                    <p>Entrer votre adresse email et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Entrer votre adresse email">
                        <div class="clearfix"></div>
                    </div>
                    <button type="button" class="btn btn-primary btn-block">Soumettre</button>
                </div>
            </form>
            <!-- [ Form ] End -->

        </div>
    </div>
    <!-- [ content ] End -->