   <!-- [ Layout content ] Start -->
   <div class="layout-content">

    <!-- [ content ] Start -->
    <div class="container-fluid flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-0">Véhicules</h4>
        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#!">Gestiondes véhicules</a></li>
                <li class="breadcrumb-item active"><a href="#!">Demande d'allocation</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="floating-label" for="Categorie">Catégorie</label>
                                        <select class="form-control" id="Categorie">
                                            <option value="1" selected>VEX - description</option>
                                            <option value="2">VSC - description</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Description caractéristiques véhicules</label>
                                <textarea id="tinymce-editor"></textarea><br>
                            </div>
                            <button type="submit" class="btn waves-effect waves-light btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ content ] End -->
   
