 <!-- [ Layout content ] Start -->

        <h4 class="font-weight-bold py-3 mb-0">Véhicule</h4>
        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#!">Gestion des véhicules</a></li>
                <li class="breadcrumb-item active"><a href="#!">Ajouter Véhicule</a></li>
            </ol>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="form-row align-items-center">
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-label">
                                        <label class="floating-label" for="Catégorie">Catégorie</label>
                                        <select  [(ngModel)]="vehicule.categorie" name="categorie" class="form-control" id="Category">
                                            <option value="1" selected>VEX - description</option>
                                            <option value="2">VSC - description</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="Immatriculation">Immmatriculation</label>
                                        <input type="text" [(ngModel)]="vehicule.immatriculation" name="immatriculation" class="form-control" id="Immatriculation" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group fill">
                                        <label class="form-label" for="Date de mise en circulation">Date de mise en circulation</label>
                                        <input type="date" [(ngModel)]="vehicule.dateDeMiseenCirculation" name="dateDeMiseenCirculation" class="form-control" id="dateDeMiseenCirculation" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group fill">
                                        <label class="form-label" for="Nombre de place">Nombre de place</label>
                                        <input type="text"[(ngModel)]="vehicule.nombrePlace" name="nombrePlace" class="form-control" id="nombrePlace" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="amortissement en mois">Amortissemnt mensuel</label>
                                        <input type="text" [(ngModel)]="vehicule.amortissement" name="amortissement" class="form-control" id="Amortissement mensuel" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group fill">
                                        <label class="form-label" for="Puissance">Puissance</label>
                                        <input type="text" [(ngModel)]="vehicule.puissance" name = "puissance" class="form-control" id="Puissance" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="Cout d'achat">Cout d'achat</label>
                                        <input type="text" [(ngModel)]="vehicule.coutAchat" name="coutAchat" class="form-control" id="coutAchat" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group fill">
                                        <label class="form-label" for="Marque">Marque</label>
                                        <input type="text" [(ngModel)]="vehicule.marque" name="marque" class="form-control" id="Marque" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="Modéle">Modele</label>
                                        <input type="text" [(ngModel)]="vehicule.modele" name="modele" class="form-control" id="Modele" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group fill">
                                        <label class="form-label" for="Responsable vehicule">Prénom</label>
                                        <input type="text" [(ngModel)]="vehicule.utilisateur.prenom" name="utilisateur" class="form-control" id="Prénom bénéficiaire" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group fill">
                                        <label class="form-label" for="Responsable vehicule">Nom</label>
                                        <input type="text" [(ngModel)]="vehicule.utilisateur.nom" name="utilisateur" class="form-control" id="Prénom bénéficiaire" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="Statut">Statut</label>
                                        <input type="text" [(ngModel)]="vehicule.utilisateur.statut" name="statut" class="form-control" id="Statut" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="Direction">Direction</label>
                                        <input type="text" [(ngModel)]="vehicule.direction"  name="direction" class="form-control" id="Direction" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="Parking">Parking d'attache</label>
                                        <input type="text" [(ngModel)]="vehicule.parking" name="parking" class="form-control" id="Parking" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="Etat">Etat</label>
                                        <select [(ngModel)]="vehicule.etat" name ="etat" class="form-control" id="Etat">
                                            <option value="1">Bon</option>
                                            <option value="2">Panne</option>
                                       </select>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Description</label>
                                        <textarea id="tinymce-editor"></textarea><br>
                                        <label class="file btn waves-effect waves-light btn-outline-primary mt-3 file-btn" for="flup">
                                            <i class="feather icon-paperclip"></i>Joindre un fichier
                                            <input type="file" name="file"  class="d-none" id="flup"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button (click)="postVehicules()" class="btn btn-primary">Submit</button>
                                    <button class="btn btn-danger">Clear</button>
                                </div>
                            </div>
                     </form>
                    </div>
                </div>
            </div>
        </div>

