 
                        <h4 class="font-weight-bold py-3 mb-0">Client</h4>
                        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Client</a></li>
                                <li class="breadcrumb-item active"><a href="#!">liste</a></li>
                            </ol>
                        </div>
                        <div class="row">
                            <!-- subscribe start -->
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Liste des clients </h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row align-items-center m-l-0">
                                            <div class="col-sm-6">
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <button class="btn btn-success btn-sm mb-3 btn-round" data-toggle="modal" data-target="#modal-report"><i class="feather icon-plus"></i> Ajouter client</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="report-table" class="table table-bordered table-striped mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Prénom</th>
                                                        <th>Nom</th>
                                                        <th>Téléphone</th>
                                                        <th>Statut</th>
                                                        <th>Direction</th>
                                                        <th>Options</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let client of allclients">
                                                        <td class="align-middle">
                                                            {{client.prenom}}
                                                        </td>
                                                        <td class="align-middle">
                                                            {{client.nom}}
                                                        </td>
                                                        <td class="align-middle">
                                                            {{client.telephone}}
                                                        </td>
                                                        <td class="align-middle">
                                                            {{client.statut}}
                                                        </td>
                                                        <td class="align-middle">
                                                            {{ (client && client.direction)? client.direction.libelle : '-'}}
                                                        </td>
                                                       <td class="table-action">
                                                        <a [routerLink]="['/home/client/modifierClient, client.id']" class="btn btn-icon btn-outline-success"><i class="feather icon-edit"></i></a>
                                                        <a class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2" (click)="deleteClient(client.id)"></i></a>
                                                    </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- subscribe end -->
                        </div>
        <div class="layout-overlay layout-sidenav-toggle"></div>
    <!-- [ Layout wrapper] End -->
    <div class="modal fade" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <h5>Informations Personnelles</h5>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="floating-label" for="Prenom">Prénom</label>
                                    <input type="text" [(ngModel)]="client.prenom" name="prenom" class="form-control" id="Prenom" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="floating-label" for="Nom">Nom</label>
                                    <input type="text" [(ngModel)]="client.nom" name="nom" class="form-control" id="Nom" placeholder="">
                                </div>
                            </div>
            
                            <div class="col-sm-6">
                                <div class="form-group fill">
                                    <label class="floating-label" for="Telephone">Téléphone</label>
                                    <input type="text" [(ngModel)]="client.telephone" name="telephone" class="form-control" id="Telephone" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="floating-label" for="Statut">Statut</label>
                                    <input type="text" [(ngModel)]="client.statut" name="statut" class="form-control" id="Statut" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="floating-label" for="Direction">Direction</label>
                                    <input type="text" [(ngModel)]="client.direction" name="direction" class="form-control" id="Direction" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button (click)="postClients()" class="btn btn-primary">Submit</button>
                                <button class="btn btn-danger">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        // DataTable start
        $('#report-table').DataTable();
        // DataTable end
    </script>