
                        <h4 class="font-weight-bold py-3 mb-0">Charges</h4>
                        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item active"><a href="#!">Véhicules</a></li>
                            </ol>
                        </div>
                        <div class="row">
                            <!-- customar project  start -->

                            <div class="col-xl-3 col-md-6">
                                <a [routerLink]="['/home/comptabilite/capexVehicule']">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row align-items-center m-l-0">
                                            <div class="col-auto">
                                                <i class='fas fa-car fa-3x'></i>
                                            </div>
                                            <div class="col-auto">
                                                <h6 class="text-muted m-b-10">CAPEX Véhicules</h6>
                                                <h2 class="m-b-0">499</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <a [routerLink]="['/home/comptabilite/opexVehicule']">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row align-items-center m-l-0">
                                            <div class="col-auto">
                                                <i class="fas fa-book-open f-36 text-success"></i>
                                            </div>
                                            <div class="col-auto">
                                                <h6 class="text-muted m-b-10">OPEX</h6>
                                                <h2 class="m-b-0">3</h2>
                                            </div>                
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>

                            <!-- customar project  end -->

                        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-sidenav-toggle"></div>
   
    <!-- [ Layout wrapper] End -->

 
