    <!-- [ Layout wrapper ] Start -->
  
                        <h4 class="font-weight-bold py-3 mb-0">Admin</h4>
                        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Admin</a></li>
                                <li class="breadcrumb-item active"><a href="#!">liste</a></li>
                            </ol>
                        </div>
                        <div class="row">
                            <!-- subscribe start -->
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Liste des Admins </h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row align-items-center m-l-0">
                                            <div class="col-sm-6">
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <button class="btn btn-success btn-sm mb-3 btn-round" data-toggle="modal" data-target="#modal-report"><i class="feather icon-plus"></i> Ajouter admin</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="report-table" class="table table-bordered table-striped mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Prénom</th>
                                                        <th>Nom</th>
                                                        <th>Email</th>
                                                        <th>Téléphone</th>
                                                        <th>Options</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let admin of alladmins">
                                                        <td class="align-middle">
                                                            {{admin.prenom}}
                                                        </td>
                                                        <td class="align-middle">
                                                            {{admin.nom}}
                                                        </td>
                                                        <td class="align-middle">
                                                            {{admin.telephone}}
                                                        </td>
                                                        <td class="align-middle">
                                                            {{admin.statut}}
                                                        </td>
                                                        <td class="align-middle">
                                                            {{admin.directionId}}
                                                        </td>
                                                       <td class="table-action">
                                                        <a href="#" class="btn btn-icon btn-outline-success"><i class="feather icon-edit"></i></a>
                                                        <a class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></a>
                                                    </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- subscribe end -->
                        </div>

    <!-- [ Layout wrapper] End -->
    <div class="modal fade" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Admin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <h5>Informations Personnelles</h5>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="floating-label" for="Prenom">Prénom</label>
                                    <input type="text" class="form-control" id="Prenom" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="floating-label" for="Nom">Nom</label>
                                    <input type="text" class="form-control" id="Nom" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group fill">
                                    <label class="floating-label" for="Email">Email</label>
                                    <input type="email" class="form-control" id="Email" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group fill">
                                    <label class="floating-label" for="Telephone">Téléphone</label>
                                    <input type="text" class="form-control" id="Telephone" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button class="btn btn-primary">Submit</button>
                                <button class="btn btn-danger">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        // DataTable start
        $('#report-table').DataTable();
        // DataTable end
    </script>