 <!-- [ content ] Start -->
 <div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-0">Détails Tickets</h4>
    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#!">Tickets</a></li>
            <li class="breadcrumb-item active"><a href="#!">Détails Tickets</a></li>
        </ol>
    </div>
    <div class="row help-desk">
        <div class="col-xl-8 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar justify-content-between p-0 align-items-center shadow-none">
                        <h5 class="my-2">Détails Tickets</h5>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label onclick="$('.help-desk').removeClass('md-view').removeClass('large-view').addClass('sm-view')" class="btn waves-effect waves-light btn-primary">
                                <input type="radio" name="options" id="option1" checked> <i class="feather icon-align-justify m-0"></i>
                            </label>
                            <label onclick="$('.help-desk').removeClass('sm-view').removeClass('large-view').addClass('md-view')" class="btn waves-effect waves-light btn-primary">
                                <input type="radio" name="options" id="option2"> <i class="feather icon-menu m-0"></i>
                            </label>
                            <label onclick="$('.help-desk').removeClass('md-view').removeClass('sm-view').addClass('large-view')" class="btn waves-effect waves-light btn-primary active">
                                <input type="radio" name="options" id="option3"> <i class="feather icon-grid m-0"></i>
                            </label>
                        </div>
                    </nav>
                </div>
            </div>           
            <div class="ticket-block">
                <div class="row">
                    <div class="col">
                        <div class="card example-popover" data-toggle="modal" data-target="#modals-slide" data-toggle="popover" data-placement="right" data-html="true"
                            title="<img src='assets/img/user/avatar-1.jpg' class='wid-20 rounded mr-1 img-fluid'><p class='d-inline-block mb-0 ml-2'>You replied</p>" data-content="hello Yogen dra,you need to create "
                            toolbar-options="div only once in a page in your code, this div fill found every 'td' ...">
                            <div class="row no-gutters row-bordered row-border-light h-100">
                                <div class="d-flex col">
                                    <div class="card-body">
                                        <h5 class="mb-0">Aboubakry</h5>
                                        <p class="my-1 text-muted"><i class="feather icon-lock mr-1 f-14"></i>Réparation pneus</p>
                                        <ul class="list-inline mt-2 mb-0 hid-sm">
                                            <li class="list-inline-item my-1"><img src="assets/img/ticket/p1.jpg" alt="" class="wid-20 rounded mr-1">Remplacement</li>
                                            <li class="list-inline-item my-1"><img src="" alt="" class="wid-20 rounded mr-1">Assigné à Tapha Auto</li>
                                            <li class="list-inline-item my-1"><i class="feather icon-calendar mr-1 f-14"></i>Mise à jour il y a 22h</li>
                                            <li class="list-inline-item my-1"><i class="feather icon-message-square mr-1 f-14"></i>1</li>
                                        </ul>
                                        <div class="card bg-light my-3 p-3 hid-md">
                                            <h6><img src="" alt="" class="wid-20 avatar mr-2 rounded">Commentaire <a href="#">Mariéme:</a></h6>
                                            <p class="mb-0">Bonjour Aboubakry, votre pneus a été bien remplacé</p>
                                        </div>
                                        <div class="mt-2">
                                            <a href="help-ticket-details.html" class="mr-3 text-muted"><i class="feather icon-eye mr-1"></i>Voir Ticket</a>
                                            <a href="#" class="text-danger"><i class="feather icon-trash-2 mr-1"></i>Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex col-sm-auto">
                                    <div class="card-body d-flex align-items-center">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="tooltip on top" class="active"><i class="feather icon-star text-warning"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="tooltip on top"><i class="feather icon-circle text-muted"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5> Nature Ticket</h5>
                </div>
                <div class="list-group list-group-flush list-pills">
                    <a href="#!" class="list-group-item list-group-item-action">
                        <span class="f-w-500"><img src="assets/img/ticket/p1.jpg" alt="" class="wid-20 rounded m-r-10 img-fluid">Remplacement</span>
                        <div class="float-right">
                            <span class="badge badge-pill badge-danger">2</span>
                            <span class="badge badge-pill badge-success">5</span>
                        </div>
                    </a>
                    <a href="#!" class="list-group-item list-group-item-action">
                        <span class="f-w-500"><img src="assets/img/ticket/p2.jpg" alt="" class="wid-20 rounded m-r-10 img-fluid">Entretien</span>
                        <div class="float-right">
                            <span class="badge badge-pill badge-danger">1</span>
                            <span class="badge badge-pill badge-success">3</span>
                        </div>
                    </a>
                    <a href="#!" class="list-group-item list-group-item-action">
                        <span class="f-w-500"><img src="assets/img/ticket/p3.jpg" alt="" class="wid-20 rounded m-r-10 img-fluid">Revision</span>
                        <div class="float-right">
                            <span class="badge badge-pill badge-success">1</span>
                        </div>
                    </a>
                    <a href="#!" class="list-group-item list-group-item-action">
                        <span class="f-w-500"><img src="assets/img/ticket/p4.jpg" alt="" class="wid-20 rounded m-r-10 img-fluid">Visite technique</span>
                    </a>
                    <a href="#!" class="list-group-item list-group-item-action">
                        <span class="f-w-500"><img src="assets/img/ticket/p5.jpg" alt="" class="wid-20 rounded m-r-10 img-fluid">Réparation</span>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>Gestionnaires de flotte</h5>
                </div>
                <div class="list-group list-group-flush list-pills">
                    <a href="#!" class="list-group-item list-group-item-action">
                        <span class="f-w-500"><img src="" alt="" class="wid-20 rounded m-r-10 img-fluid">Aboubakry</span>
                        <div class="float-right">
                            <span class="badge badge-pill badge-danger">1</span>
                            <span class="badge badge-pill badge-success">3</span>
                        </div>
                    </a>
                    <a href="#!" class="list-group-item list-group-item-action">
                        <span class="f-w-500"><img src="" alt="" class="wid-20 rounded m-r-10 img-fluid">Alioune Badara</span>
                        <div class="float-right">
                            <span class="badge badge-pill badge-success">2</span>
                        </div>
                    </a>
                    <a href="#!" class="list-group-item list-group-item-action">
                        <span class="f-w-500"><img src="" alt="" class="wid-20 rounded m-r-10 img-fluid">Mariéme</span>
                        <div class="float-right">
                            <span class="badge badge-pill badge-success">1</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
 </div>
<!-- [ content ] End -->
