<!-- [ Layout wrapper ] Start -->
<div class="layout-wrapper layout-2">
  <div class="layout-inner">
    <app-navbar></app-navbar>
    <!-- [ Layout container ] Start -->
    <div class="layout-container">
      <app-header></app-header>
      <!-- [ Layout content ] Start -->
      <div class="layout-content">

        <!-- [ content ] Start -->
        <div class="container-fluid flex-grow-1 container-p-y">
          <router-outlet></router-outlet>
        </div>
        <!-- [ content ] End -->

      </div>
      <!-- [ Layout content ] Start -->
    </div>
    <!-- [ Layout container ] End -->
  </div>
  <!-- Overlay -->
  <div class="layout-overlay layout-sidenav-toggle"></div>
</div>
<!-- [ Layout wrapper] End -->
