    <!-- [ Preloader ] End -->

    <!-- [ Layout wrapper ] Start -->
    <div class="layout-wrapper layout-2">
        <div class="layout-inner">
            <!-- [ Layout container ] Start -->
            <div class="layout-container">

                <!-- [ Layout content ] Start -->
                <div class="layout-content">

                    <!-- [ content ] Start -->
                    <div class="container-fluid flex-grow-1 container-p-y">
                        <h4 class="font-weight-bold py-3 mb-0">Véhicule</h4>
                        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Gestion des attributions</a></li>
                                <li class="breadcrumb-item active"><a href="#!">Véhicules</a></li>
                            </ol>
                        </div>
                        <div class="row">
                            <!-- customar project  start -->

                            <div class="col-xl-3 col-md-6">
                                <a [routerLink]="['/home/demandeAllocation']">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row align-items-center m-l-0">
                                            <div class="col-auto">
                                                <i class='fas fa-car fa-3x'></i>
                                            </div>
                                            <div class="col-auto">
                                                <h6 class="text-muted m-b-10">Demande d'allocation véhicule</h6>
                                                <h2 class="m-b-0">499</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <a [routerLink]="['/home/allocationVehicule']">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row align-items-center m-l-0">
                                            <div class="col-auto">
                                                <i class='fas fa-car fa-3x'></i>
                                            </div>
                                            <div class="col-auto">
                                                <h6 class="text-muted m-b-10">Attribution Véhicule</h6>
                                                <h2 class="m-b-0">3</h2>
                                            </div>                
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>

                            <!-- customar project  end -->

                        </div>
                    </div>
                    <!-- [ content ] End -->


                </div>
                <!-- [ Layout content ] Start -->
            </div>
            <!-- [ Layout container ] End -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-sidenav-toggle"></div>
    </div>
    <!-- [ Layout wrapper] End -->

 