   <!-- [ Preloader ] End -->

    <!-- [ Layout wrapper ] Start -->
    <div class="layout-wrapper layout-2">
        <div class="layout-inner">
            <!-- [ Layout container ] Start -->
            <div class="layout-container">

                <!-- [ Layout content ] Start -->
                <div class="layout-content">

                    <!-- [ content ] Start -->
                    <div class="container-fluid flex-grow-1 container-p-y">
                        <h4 class="font-weight-bold py-3 mb-0">Statistiques</h4>
                        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active"><a href="#!">Statistiques</a></li>
                            </ol>
                        </div>
                        <div class="row">
                            <!-- customar project  start -->
                            <div class="col-sm-6 col-xl-3">
                                <div class="card mb-4">
                                    <div class="d-flex align-items-center">
                                        <div class="card-body bg-warning text-center">
                                            <div class="ion ion-md-pulse display-4 text-white"></div>
                                        </div>
                                        <div class="card-body py-0">
                                            <small class="text-muted mb-1">Rapport journalier</small>
                                            <h3 class="mb-0">$478</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-3">
                                <div class="card mb-4">
                                    <div class="d-flex align-items-center">
                                        <div class="card-body bg-warning text-center">
                                            <div class="ion ion-md-pulse display-4 text-white"></div>
                                        </div>
                                        <div class="card-body py-0">
                                            <small class="text-muted mb-1">Rapport mensuel</small>
                                            <h3 class="mb-0">$478</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
