
                        <h4 class="font-weight-bold py-3 mb-0">Statistiques</h4>
                        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active"><a href="#!">Statistiques</a></li>
                            </ol>
                        </div>
                        <div class="row">
                            <!-- customar project  start -->
                            <div class="col-sm-6 col-xl-3">
                                <div class="card mb-4">
                                    <div class="d-flex align-items-center">
                                        <div class="card-body bg-warning text-center">
                                            <div class="ion ion-md-pulse display-4 text-white"></div>
                                        </div>
                                        <div class="card-body py-0">
                                            <small class="text-muted mb-1">Rapport journalier</small>
                                            <h3 class="mb-0">478</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-3">
                                <div class="card mb-4">
                                    <div class="d-flex align-items-center">
                                        <div class="card-body bg-warning text-center">
                                            <div class="ion ion-md-pulse display-4 text-white"></div>
                                        </div>
                                        <div class="card-body py-0">
                                            <small class="text-muted mb-1">Rapport mensuel</small>
                                            <h3 class="mb-0">478</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- candlestick chart start -->
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Rapport journalier</h5>
                                    </div>
                                    <div class="card-body">
                                        <div id="candlestick-chart-1"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- candlestick chart end -->
                        <!-- progressbar static data start -->
                 
                       
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Rapport mensuel</h5>
                                    </div>
                                    <div class="card-body">
                                        <div id="collected-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        
                        <!-- progressbar static data end -->
                 
                <!-- [ content ] End -->